
<div class="row regis">
<div class="navbar navbar-inverse navbar-fixed-top">
	<%= image_tag("int_logo.png", :alt => "Logo") %>
</div>

<section id="contenu" class="span6">
	<div class="hero-unit">
		<% if notice %>
			<p id='notice'><%= notice %> </p>
		<% end %>
		<h1>Register</h1>
		<p>Do you want to learn stocks and play a strategy game at the same time ? Do you want to acquire stocks but not really ?  </br><strong>Well, we got your back !</strong></p>

		<%= render 'form' %>
		<%= link_to 'Back', root_path %>

	</div>
</section>
</div>