<div class="row regis">
<div class="navbar navbar-inverse navbar-fixed-top">
	<%= image_tag("int_logo.png", :alt => "Logo") %>
</div>

<section id="contenu" class="span6">
	<div class="hero-unit">
		<h1>Activate Your Account</h1>
	</div>
</section>
</div>

<%= username %>