body {
	font-family: 'Open Sans', sans-serif;
}

a {color:#000;}
a:hover {color:#333333;}
a:link,a:visited,a:active {outline:0;}

p {
	font-size: 13px;
	line-height: 25px;
	font-weight:400;
	color:#666;
}

.header {
	background:#212121;
}

.logo h1 {
	font-size:25px;
	margin:0px;
	padding:18px 0;
}

.logo h1 a {
	color:#fff;
}

.logo h1 a span {
	color:#e02222;
}

.top-nav {
	display:table;
	float:right;
}

.top-nav li {
	float:left;
	margin:20px 15px 5px;
}

.top-nav li a {
	color:#fff;
}

.select-menu {
	display: none;
	background: none;
	padding: none;
	border:none;
}

@media (max-width: 767px) {

.top-nav { display: none;margin:0;}

.select-menu {
	display: block;
	background: #000;
	width: 85%;
	padding: 5px;
	font-size: 12px;
	border: 1px solid #252525;
	height: 34px;
	margin:10px auto 20px ;
	color:#fff !important;
	font-family:Open Sans,Arial;
}
}
