<!DOCTYPE html>
<html>
<head>
  <title>RubyRailsSample</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<nav class="top-bar">
	<div class="large-12 columns">

		<ul class="title-area">
		<li class="name">
			<h1>
				<a href="/">Voiconn</a>
			</h1>
		</li>
	</ul>
		
	</div>
</nav>

<%= yield %>

</body>
</html>
