/* 
 *= require 'reset'
 *= require 'foundation.min'
 *= require_self
 *= require_tree.
*/

<!DOCTYPE html>
<html>
<head>
  <title>RubyRailsSample</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<header>
	<div class="header"> 
		<div class="row">
			<div class="four columns logo">
				<h1><a href="/">Voiconn</a></h1>
			</div>
				
			</div class="eight columns">

			</div>
		</div>
	</div>
</header>

<%= yield %>

</body>
</html>
